{% extends "oscar/base.html" %}
{% block content %}
<script>

$(function() {
 $(document).ready(function() {
   if(window.localStorage.getItem("access_token")!=null){
   $(".container-login").hide();
   var token = window.localStorage.getItem("access_token").toString();
    var obj = {};
   var jstoken = `Token ${token}`
      $.ajax({
    type: 'GET',
    headers: {
        'Accept': 'application/json',
        'Authorization':jstoken
    },
    url: 'http://127.0.0.1:5000/api/v0/users/me',
    success: function(data) {
      $(".rounded-circle").attr('src',data.avatar.full_size);
      $('.username').html(data.username);

    },
    error: function(data) {
      if(data.status == "500") {
      alert("Invalid Credentials")
       window.localStorage.removeItem("access_token");

      window.location.replace("http://127.0.0.1:8888/")
      }
    }
   });

   $.ajax({
    type: 'GET',
    headers: {
        'Accept': 'application/json',
        'Authorization':jstoken
    },
    url: 'http://127.0.0.1:5000/api/v0/queries/me',
    success: function(data) {
       var lakeTbody = document.querySelector("#lake tbody");
		addDataToTbody(lakeTbody, data);
    },
    error: function(data) {
      if(data.status == "500"){
      alert("Invalid Credentials")
        window.localStorage.removeItem("access_token");
      window.location.replace("http://127.0.0.1:8888/")
      }
    }
   });
 }
 });

function addDataToTbody(nl, data) { // nl -> NodeList, data -> array with objects
  data.forEach((d, i) => {
    var tr = nl.insertRow(i);
    Object.keys(d).forEach((k, j) => { // Keys from object represent th.innerHTML
      var cell = tr.insertCell(j);
      cell.innerHTML = d[k]; // Assign object values to cells

    });
    nl.appendChild(tr);
  })
}



const serialize_form = form => JSON.stringify(
  Array.from(new FormData(form).entries())
       .reduce((m, [ key, value ]) => Object.assign(m, { [key]: value }), {})
);
$('#login-form').on('submit', function(event) {
  event.preventDefault();
  const json = serialize_form(this);
  $.ajax({
    type: 'POST',
    url: 'http://127.0.0.1:5000/api/v0/login',
    dataType: 'json',
    data: json,
    contentType: 'application/json',
    success: function(data) {
      window.localStorage.setItem("access_token", data.token);

      window.location.replace("http://127.0.0.1:8888/")

    },
    error: function(data) {
      if(data.status == "500")
      alert("Invalid Credentials")
    }
  });
});
$('#register-form').on('submit', function(event) {
  event.preventDefault();
  const json = serialize_form(this);
  $.ajax({
    type: 'POST',
    url: 'http://127.0.0.1:5000/api/v0/register',
    dataType: 'json',
    data: json,
    contentType: 'application/json',
    success: function(data) {
   	alert("You are now registered!")
   	window.location.replace("http://127.0.0.1:8888/")
    },
    error: function(data) {
      if(data.status == "400")
      alert("Username already in use")
    }
  });
});

    $('#login-form-link').click(function(e) {
		$("#login-form").delay(100).fadeIn(100);
 		$("#register-form").fadeOut(100);
		$('#register-form-link').removeClass('active');
		$(this).addClass('active');
		e.preventDefault();
	});
	$('#register-form-link').click(function(e) {
		$("#register-form").delay(100).fadeIn(100);
 		$("#login-form").fadeOut(100);
		$('#login-form-link').removeClass('active');
		$(this).addClass('active');
		e.preventDefault();
	});

});


</script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="jumbotron text-center">
  <h3> Private Recsys</h3>
</div>
<!------ Include the above in your HEAD tag ---------->

<div class="container-login">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="login-form-link">Login</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="register-form-link">Register</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" method="post" role="form" style="display: block;">
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
									</div>
									<div class="form-group">
										<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
									</div>
									<div class="form-group text-center">
										<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
										<label for="remember"> Remember Me</label>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-lg-12">
												<div class="text-center">
													<a href="https://phpoll.com/recover" tabindex="5" class="forgot-password">Forgot Password?</a>
												</div>
											</div>
										</div>
									</div>
								</form>
								<form id="register-form" role="form" style="display: none;">
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
									</div>
									<div class="form-group">
										<input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
									</div>
									<div class="form-group">
										<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
									</div>
									<div class="form-group">
										<input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<script>
function logout() {
  window.localStorage.removeItem("access_token");
    window.location.replace("http://127.0.0.1:8888/")
 }

</script>
<div class="container - user profile">

	<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src=""><divspan class="font-weight-bold"><div class="username">  </div><span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                 <p>   <h4>Profile History <a onclick="logout()">Log Out</a></h4>

                </div>
				 <div class="d-flex justify-content-between align-items-center mb-3">
                    <h5>Searh Queries</h5>
					 <table id= "lake" class="table table-striped">
					  <thead>
						<tr>
						  <th scope="col">#</th>
						  <th scope="col">Text</th>
						  <th scope="col">Link</th>
						  <th scope="col">Delete</th>
						</tr>
					  </thead>
					  <tbody>
						<tr>

						</tr>
					  </tbody>
					 </table>
                </div>
			</div>
        </div>
    </div>
</div>
</div>
</div>
</div>
{% endblock %}
