{% from 'oscar/macros.html' import icon %}
<script>
$(function() {

$(document).on('click', '#search_btn', function(e){
     var date = new Date();
    var timestamp = date.getTime();
     var q = $("#q").val();
     var token = window.localStorage.getItem("access_token");
     var jstoken = `Token ${token}`
    var data_json = {
          "link": "",
          "query": q,
          "searched": "ssss"
        }
   alert("Test");
    $.ajax({
    type: 'POST',
    headers: {
        'Accept': 'application/json',
        'Authorization':jstoken
    },
    url: 'http://127.0.0.1:5000/api/v0/queries/'+timestamp,
    dataType: 'json',
    data: data_json,
    success: function(data) {

    },
    error: function(data) {
        alert("error" +data.status)
        if(data.status == "401")
            alert("Invalid Credentials")
    }
  });
; alert(token);
});

});


</script>
<form method="{{ method or 'POST' }}" action="{{ url_for('search') }}" id="search_form" role="search">
    {% if rtl %}
    <div class="input-group">
    {% else %}
    <div class="input-group col-md-8 col-md-offset-2">
    {% endif %}
        <input type="search" autofocus name="q" class="form-control input-lg autofocus" id="q" placeholder="{{ _('Search for...') }}" aria-label="{{ _('Search for...') }}" autocomplete="off" value="{{ q }}" accesskey="s">
        <span class="input-group-btn">
            <button type="submit"  id="search_btn"  class="btn btn-default input-lg" aria-label="{{ _('Start search') }}"><span class="hide_if_nojs">{{ icon('search') }}</span><span class="hidden active_if_nojs">{{ _('Start search') }}</span></button>
            <button type="reset" class="btn btn-default input-lg" aria-label="{{ _('Clear search') }}"><span class="hide_if_nojs">{{ icon('remove') }}</span><span class="hidden active_if_nojs">{{ _('Clear') }}</span></button>
        </span>
    </div>
    <div class="col-md-8 col-md-offset-2  advanced">
        {% include 'oscar/advanced.html' %}
    </div>

</form><!-- / #search_form_full -->
