{% from 'oscar/macros.html' import icon %}
<script>
$(function() {

$(document).on('click', '#search_btn', function(e){

     var q = $("#q").val();
     var token = window.localStorage.getItem("access_token");
     var date = new Date();
      var timestamp = date.getTime();
     var jstoken = `Token ${token}`
     var data_json = {
          "link": q,
          "query": q,
          "searched": "true"
        }
    $.ajax({
    type: 'POST',
    headers: {
        'Accept': 'application/json',
        'Authorization':jstoken
    },
    url: 'http://127.0.0.1:5000/api/v0/queries/'+timestamp,
    dataType: 'json',
    data: data_json,
    success: function(data) {

    },
    error: function(data) {

        if(data.status == "401")
            alert("Invalid Credentials")
    }
  });
;
});

});


</script>
<form method="{{ method or 'POST' }}" action="{{ url_for('search') }}" id="search_form" role="search">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="input-group search-margin">
        <input type="search" {% if autofocus %}autofocus{% endif %} name="q" class="form-control" id="q" placeholder="{{ _('Search for...') }}" aria-label="{{ _('Search for...') }}" autocomplete="off" value="{{ q }}" accesskey="s">
        <span class="input-group-btn">
            <button type="submit" id="search_btn"  class="btn btn-default" aria-label="{{ _('Start search') }}"><span class="hide_if_nojs">{{ icon('search') }}</span><span class="hidden active_if_nojs">{{ _('Start search') }}</span></button>
	    <button type="button" id="clear_search" class="btn btn-default hide_if_nojs" aria-label="{{ _('Clear search') }}">{{ icon('remove') }}</button>
        </span>
      </div>
    </div>
    <div class="col-xs-6 col-md-2 search-margin">
        {%- include 'oscar/time-range.html' -%}
    </div>
    <div class="col-xs-6 col-md-2 search-margin">
        {%- include 'oscar/languages.html' -%}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        {%- include 'oscar/categories.html' -%}
    </div>
  </div>
</form><!-- / #search_form_full -->
